<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</head>
<body>
    <div class="pn-modal">
        <button class="pn-modal__close unbutton"
                type="button"
                ng-click="close()"
                external-event="offer-close">
          <span class="visually-hidden">Close modal</span>
          <svg width="30" height="30" viewbox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path d="M6.545 21.59l1.836 1.835 6.634-6.633 6.574 6.574 1.777-1.777-6.574-6.574 6.633-6.634-1.836-1.836-6.633 6.634L8.41 6.634 6.634 8.41l6.545 6.545-6.634 6.633z"/></svg>
        </button>
        <div class="pn-modal__content">
          <img class="pn-modal__deco-strip" src="https://i.piano.io/managedservices/chicago-sun-times/deco-stripe.jpg" width="30" height="460" alt="">
          <img class="pn-modal__logo" src="https://i.piano.io/managedservices/chicago-sun-times/logo--white.png" width="200" height="17" alt="Chicago Sun-Times">
          <p class="pn-modal__text">It’s been a while since you last visited. Read the latest news.</p>
          <p class="pn-modal__text">Tailored only for you.</p>
        </div>
        <div class="pn-modal__list">
          <a class="pn-modal__item" href="#">
            <img class="pn-modal__thumbnail" src="https://i.piano.io/managedservices/chicago-sun-times/article-thumb-1.jpg" width="320" height="180" alt="Childish Gambino with a mic">
            <p class="pn-modal__description">
              <time class="pn-modal__date">03/21/2019</time>
              <b class="pn-modal__headline">Lollapalooza full lineup announced: Ariana Grande, Childish Gambino and more</b>
            </p>
          </a>
          <a href="#" class="pn-modal__item">
            <img class="pn-modal__thumbnail" src="https://i.piano.io/managedservices/chicago-sun-times/article-thumb-2.jpg" width="320" height="180" alt="Dancing people">
            <p class="pn-modal__description">
              <time class="pn-modal__date">03/21/2019</time>
              <b class="pn-modal__headline">Dance for Life 2019 benefit gala announces performance lineup</b>
            </p>
          </a>
        </div>
      </div>

      <h1>Newzmate stuff</h1>

        <input type="hidden" id="recDataId" ng-value="custom.recDataId"/>
        <input type="hidden" id="url" ng-value="params.url"/>

        <div id="root">
            <table>
                <tr ng-repeat="rec in recData">
                    <th><a ng-href="{{rec.link}}" target="_blank" ng-bind-html="rec.title"></a></th>
                    <td>
                        <img height="100px" ng-src="{{rec.image}}">
                    </td>
                </tr>
            </table>
        </div>

      <script src="assets/javascript/scripts.js"></script>
</body>
</html>